h2= title
form(action="/login" method="post")
    div
        input(name="email" placeholder="Email")
    div 
        input(name="password" type="password" placeholder="Mot de passe")
    button Se connecter